@mixin icon($name) {
    background-image: url("img/icon/#{$name}");
  }
  
  [class*="icon-i"] {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  


  .icon-i-inst {
    @include icon("inst.svg");
  }

  .icon-i-mail {
    @include icon("mail.svg");
  }

  .icon-i-phone {
    @include icon("phone.svg");
  }

  .icon-i-map {
    @include icon("map.svg");
  }

  .icon-i-telegram {
    @include icon("telegram.svg");
  }