.contact__list {
    list-style: none;
}

.contact__item {
    display: flex;
    padding-top: 10px;
}

.contact__link {
    color: #000000;
    display: flex;
}

.contact__link:hover {
    color: rgb(119, 135, 230);
    opacity: 0.6;
}

.contact__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}