* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, sans-serif;
}

.resume {
    max-width: 900px;
    margin: 0 auto;
    background-color: #acdff7b5;
}

.resume__wrap {
    position: relative;
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    // border-top: 1px solid #467bc1;
}

.resume__line {
    position: absolute;
    width: 80%;
    top: 107px;
    border: 1px solid #457ac0;
}

.resume__wrap-img {
    margin: 0 -30px;
}

.resume__img {
    width: 100%;
    height: 100%;
}

.resume__personal {
    width: 39%;
    margin-right: 40px;
   padding: 0 30px 30px 30px;
    background: aliceblue;
}

.resume__about-text {
    font-size: 14px;
    line-height: 1.5;
    color: #363636;;
}

.resume__skills-item {
    padding-bottom: 2px;
}

.resume__study-item {
    padding-bottom: 5px;
}

.resume__work-item {
    padding-bottom: 10px;
}