.title {
    margin-bottom: 15px;
    padding-bottom: 8px;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 700;
    color:  #0f3973;
    text-transform: uppercase;
    border-bottom: 1px solid #457ac0;
}



// .block__0 {
//     transform: translate(22em,0em);
//   }
  
//   .block__1 {
//     transform: translate(19em,0em);
//   }
  
//   .block__2 {
//     transform: translate(16em,0em);
//   }
  
//   .block__3 {
//     transform: translate(13em,0em);
//   }
  
//   .block__4 {
//     transform: translate(10em,0em);
//   }
  
//   .block__5 {
//     transform: translate(7em,0em);
//   }
  
//   .block__6 {
//     transform: translate(4em,0em);
//   }
  
//   .block__7 {
//     transform: translate(4em,3em);
//   }
  
//   .block__8 {
//     transform: translate(4em,6em);
//   }
  
//   .block__9 {
//     transform: translate(4em,9em);
//   }
  
//   .block__10 {
//     transform: translate(4em,12em);
//   }
  
//   .block__11 {
//     transform: translate(4em,15em);
//   }
  
//   .block__12 {
//     transform: translate(4em,18em);
//   }
  
//   .block__13 {
//     transform: translate(4em,21em);
//   }
  
//   .block__14{
//     transform: translate(4em,24em);
//   }
  
//   .block__15 {
//     transform: translate(4em,27em);
//   }
  
//   .block__16 {
//     transform: translate(7em,27em);
//   }
  
//   .block__17 {
//     transform: translate(10em,27em);
//   }
  
//   .block__18 {
//     transform: translate(13em,27em);
//   }
  
//   .block__19 {
//     transform: translate(16em,27em);
//   }
  
//   .block__20 {
//     transform: translate(19em,27em);
//   }
  
//   .block__21 {
//     transform: translate(22em,27em);
//   }
  
//   .block__22 {
//     transform: translate(58em,0em);
//   }
  
//   .block__23{
//     transform: translate(55em,0em);
//   }
  
//   .block__24 {
//     transform: translate(52em,0em);
//   }
  
//   .block__25 {
//     transform: translate(49em,0em);
//   }
  
//   .block__26 {
//     transform: translate(46em,0em);
//   }
  
//   .block__27 {
//     transform: translate(43em,0em);
//   }
  
//   .block__28 {
//     transform: translate(40em,0em);
//   }
  
//   .block__29 {
//     transform: translate(40em,3em);
//   }
  
//   .block__30 {
//     transform: translate(40em,6em);
//   }
  
//   .block__31 {
//     transform: translate(40em,9em);
//   }
  
//   .block__32 {
//     transform: translate(40em,12em);
//   }
  
//   .block__33 {
//     transform: translate(43em,12em);
//   }
  
//   .block__34 {
//     transform: translate(46em,12em);
//   }
  
//   .block__35 {
//     transform: translate(49em,12em);
//   }
  
//   .block__36 {
//     transform: translate(52em,12em);
//   }
  
//   .block__37 {
//     transform: translate(55em,12em);
//   }
  
//   .block__38 {
//     transform: translate(58em,12em);
//   }
  
//   .block__39 {
//     transform: translate(58em,15em);
//   }
  
//   .block__40 {
//     transform: translate(58em,18em);
//   }
  
//   .block__41 {
//     transform: translate(58em,21em);
//   }
  
//   .block__42 {
//     transform: translate(58em,24em);
//   }
  
//   .block__43 {
//     transform: translate(58em,27em);
//   }
  
//   .block__44 {
//     transform: translate(55em,27em);
//   }
  
//   .block__45 {
//     transform: translate(52em,27em);
//   }
  
//   .block__46 {
//     transform: translate(49em,27em);
//   }
  
//   .block__47 {
//     transform: translate(46em,27em);
//   }
  
//   .block__48 {
//     transform: translate(43em,27em);
//   }
  
//   .block__49 {
//     transform: translate(40em,27em);
//   }
  
//   .block__50 {
//     transform: translate(97em,0em);
//   }
  
//   .block__51 {
//     transform: translate(94em,0em);
//   }
  
//   .block__52 {
//     transform: translate(91em,0em);
//   }
  
//   .block__53 {
//     transform: translate(88em,0em);
//   }
  
//   .block__54 {
//     transform: translate(85em,0em);
//   }
  
//   .block__55 {
//     transform: translate(82em,0em);
//   }
  
//   .block__56 {
//     transform: translate(79em,0em);
//   }
  
//   .block__57 {
//     transform: translate(79em,3em);
//   }
  
//   .block__58 {
//     transform: translate(79em,6em);
//   }
  
//   .block__59 {
//     transform: translate(79em,9em);
//   }
  
//   .block__60 {
//     transform: translate(79em,12em);
//   }
  
//   .block__61 {
//     transform: translate(82em,12em);
//   }
  
//   .block__62 {
//     transform: translate(85em,12em);
//   }
  
//   .block__63 {
//     transform: translate(88em,12em);
//   }
  
//   .block__64 {
//     transform: translate(91em,12em);
//   }
  
//   .block__65 {
//     transform: translate(94em,12em);
//   }
  
//   .block__66 {
//     transform: translate(97em,12em);
//   }
  
//   .block__67 {
//     transform: translate(97em,15em);
//   }
  
//   .block__68 {
//     transform: translate(97em,18em);
//   }
  
//   .block__69 {
//     transform: translate(97em,21em);
//   }
  
//   .block__70 {
//     transform: translate(97em,24em);
//   }
  
//   .block__71 {
//     transform: translate(97em,27em);
//   }
  
//   .block__72 {
//     transform: translate(94em,27em);
//   }
  
//   .block__73 {
//     transform: translate(91em,27em);
//   }
  
//   .block__74 {
//     transform: translate(88em,27em);
//   }
  
//   .block__75 {
//     transform: translate(85em,27em);
//   }
  
//   .block__76 {
//     transform: translate(82em,27em);
//   }
  
//   .block__77 {
//     transform: translate(79em,27em);
//   }
  
//   .block__78 {
//     transform: translate(4em,0em);
//   }
  
//   .block__79 {
//     transform: translate(4em,0em);
//   }
  
//   .block__80 {
//     transform: translate(4em,0em);
//   }
  
//   .block__81 {
//     transform: translate(4em,0em);
//   }
  
//   .block__82 {
//     transform: translate(4em,0em);
//   }
  
//   .block__83 {
//     transform: translate(4em,0em);
//   }
  
//   .block__84 {
//     transform: translate(4em,0em);
//   }
  
//   .block__85 {
//     transform: translate(4em,0em);
//   }
  
//   .block__86 {
//     transform: translate(4em,0em);
//   }
  
//   .block__87 {
//     transform: translate(4em,0em);
//   }
  
//   .block__88 {
//     transform: translate(4em,0em);
//   }
  
//   .block__89 {
//     transform: translate(4em,0em);
//   }
  
//   .block__90 {
//     transform: translate(4em,0em);
//   }
  
//   .block__91 {
//     transform: translate(4em,0em);
//   }
  
//   .block__92 {
//     transform: translate(4em,0em);
//   }
  
//   .block__93 {
//     transform: translate(4em,0em);
//   }
  
//   .block__94 {
//     transform: translate(4em,0em);
//   }
  
//   .block__95 {
//     transform: translate(4em,0em);
//   }
  
//   .block__96 {
//     transform: translate(4em,0em);
//   }
  
//   .block__97 {
//     transform: translate(4em,0em);
//   }
  
//   .block__98 {
//     transform: translate(4em,0em);
//   }
  
//   .block__99 {
//     transform: translate(4em,0em);
//   }
  
//   .block__100 {
//     transform: translate(4em,0em);
//   }
  
//   .block__101 {
//     transform: translate(4em,0em);
//   }
  
  
  
//   @keyframes code {
//     0%{
  
//     }
  
//     50%{
  
//     }
  
//     100%{
  
//     }
//   }
  
  
//   @keyframes code {
//     0%{
  
//     }
  
//     50%{
  
//     }
  
//     100%{
  
//     }
//   }
  
  
//   @keyframes code {
//     0%{
  
//     }
  
//     50%{
  
//     }
  
//     100%{
  
//     }
//   }
  
  
//   @keyframes code {
//     0%{
  
//     }
  
//     50%{
  
//     }
  
//     100%{
  
//     }
//   }
  

