.title {
    margin-bottom: 15px;
    padding-bottom: 8px;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 700;
    color:  #0f3973;
    text-transform: uppercase;
    border-bottom: 1px solid #457ac0;
}